@if(profile$ | async; as profile) {
<header class="profile-page__header">
  <app-profile-header [profile]="profile"></app-profile-header>

  <a class="btn to-settings-btn" [routerLink]="['/settings']">
    Редагувати
    <svg icon="settings" class="to-settings-icon"></svg>
  </a>
</header>

<main class="profile-page__body">
  <div>
    @if (showInput) {
      <app-post-input [profile]="profile" placeholder="Створіть пост"></app-post-input>
    }
    @for(post of posts$ | async; track post.id) {
      <app-post [post]="post" [comments]="post.comments" [profile]="profile"></app-post>
    }
  </div>

  <div>
    <h3 class="h6 mb16">Підписники</h3>

    <div class="subscriber-wrapper mb32">
      @for(subscriber of subscribers$ | async ; track subscriber.id) {
      <a
        class="subscriber-avatar-btn"
        [routerLink]="['/profile', subscriber.id]"
      >
        <img [src]="subscriber.avatarUrl | imgUrl" alt="avatar" />
      </a>
      }
      <a class="to-subscriber-search" [routerLink]="['/search']"> </a>
    </div>

    <h3 class="h6 mb16">Навички</h3>
    <div class="stack-wrapper mb32">
      @for(skill of profile.stack; track skill) {
      <div class="skill-tag">{{ skill }}</div>
      }
    </div>

    <h3 class="h6 mb16">Про мене</h3>
    <p class="medium-text">{{ profile.description }}</p>
  </div>
</main>
}
